@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  @media only screen and (max-width: 889px) {
    .hide {
      display: none;
    }
  }
  
  @media only screen and (min-width: 890px) {
    .hide {
      display: block;
    }
  }

  @media only screen and (max-width: 889px) {
    .mobile {
     display: block;
    }
  }
 
}

@font-face {
  font-family: "Styrene";
  src: url("./assets/fonts/StyreneAWeb-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Styrenes";
  src: url("./assets/fonts/StyreneAWeb-Thin.ttf") format("truetype");
}